/*Css file*/ 
body{
  
}
h1{
  font-family: 'Open Sans', sans-serif;
}
#name{
  height:180px;
  width:100%;
  background-color:#1f1f1c;
  color:yellow;
  font-size:25px;
}
#name h1{
padding:0px;
  float: left;

 }
 #bar{
   width:100%;
   height:25px;
   background:#deded1;
}
#top{
  background-image:url("../images/big_img.jpg");
  background-repeat:no-repeat;
  background-size: 100% 600px;
  width:100%;
  height:600px;
}
#italic{
  font-size:55px;
  
}
#space{
  height:50px;
}
#details{
margin-top:5%;
list-style-type:none;
  display:inline-table;
  height:50px;
  width:130px;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius:25px;
  background-color:#000000;
  text-align:center;
}

#details p{
    text-decoration:none;
    text-align:center;
}
#blog{
  margin:auto;
  width:90%;
}
div p a{
  color:#ffffff;
  text-decoration:none;
}
#table table tr td{
  width:20%;
}
#table{

  margin:auto;
  font-size:25px;
}

 #bar2{
    width:100%;
   height:50px;
   background:#deded1;
}
#bar3{
   width:100%;
   height:300px;
   background:#20ff15;
}
#bar4{
   width:100%;
   height:250px;
   background:#001413;
   color:#E8E301;
}
#end{
   width:100%;
   height:70px;
   background:#ffffff;
}
#after{
  margin:auto;
  width:85%;
}
#after h3{
  font-size:30px;
}
#after p{
  font-size:25px;
}